/* Toolbar Icon */
#bottom-keyframes-icon {
    background-image: url(keyframes-sprite.svg);
}

#bottom-keyframes-icon.active {
    background-position: 0 -24px !important;
}

#bottom-keyframes-iframe {
    background: #fff;
}